@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Helvetica, system-ui, sans-serif;
  }
  
}

.__signup .__bg_multi_lines {
  background-image: url(./assets/images/signup/signup-bg.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 500px;
}
