@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Helvetica, system-ui, sans-serif;
    }
}


.__signup {
    background: url(./assets/images/signup-bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}